@{
    Layout = "_Layout";
}

<div class="container mt-3">
    <nav class="nav">

        <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString()=="Home" &&
                                        ViewContext.RouteData.Values["action"]?.ToString() == "Index" ? "active" : "")"
           asp-controller="Home" asp-action="Index">
            Dashboard
        </a> |

        <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Search" ? "active" : "")"
           asp-controller="Search" asp-action="Index">
            Search
        </a> |

        <a class="nav-link @(ViewContext.RouteData.Values["action"]?.ToString() == "Privacy" ? "active" : "")"
           asp-controller="Home" asp-action="Privacy">
            Privacy
        </a> |

        <a class="nav-link @(ViewContext.RouteData.Values["area"]?.ToString() == "Admin" ? "active" : "")"
           asp-area="Admin" asp-controller="Users" asp-action="Index">
            Admin
        </a> |

        <a class="nav-link @(ViewContext.RouteData.Values["area"]?.ToString() == "Airlines" ? "active" : "")"
           asp-area="Airlines" asp-controller="Flights" asp-action="Index">
            Airline
        </a>

    </nav>

    <hr />

    @RenderBody()
</div>